.img{
    width:300px;
    height: 500px;
}
.imgcont{
    width: 50%;
    display: block;
    text-align: center;
}

.detailes__container{
    margin-left: 5%;
    margin-right: 5%;
    padding: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
   background-color: rgba(255, 255, 255, 0.89);
   border-radius: 10px;
}
#container_col{
   margin-top: 10%;
    
}